babel==2.17.0
certifi==2023.7.22
chardet==4.0.0
cloudpickle==3.1.1
comtypes==1.4.10
gym==0.26.2
gym-notices==0.0.8
idna==2.10
Jinja2==3.0.1
MarkupSafe==2.0.1
numpy==2.2.3
pillow==11.1.0
pywin32==308
pywinauto==0.6.9
requests==2.25.1
six==1.17.0
tkcalendar==1.6.1
urllib3==2.6.3
